name: ui
replicaCount: 1

image:
  repository: 630019796862.dkr.ecr.us-east-1.amazonaws.com/haddar-retail-store-ui
  tag: "9b2bdf31d6526636c4ec3074168361610365cb3b"
  pullPolicy: Always

# No imagePullSecrets - using ECR Credential Helper (Option B)

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

env:
  - name: CATALOG_ENDPOINT
    value: "http://catalog:80"
  - name: CARTS_ENDPOINT
    value: "http://cart:80"
  - name: ORDERS_ENDPOINT
    value: "http://orders:80"
  - name: CHECKOUT_ENDPOINT
    value: "http://checkout:80"
