name: catalog
replicaCount: 1

image:
  repository: 630019796862.dkr.ecr.us-east-1.amazonaws.com/haddar-retail-store-catalog
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"

env:
  - name: DB_ENDPOINT
    value: "postgresql.retail-store.svc.cluster.local"
  - name: DB_NAME
    value: "catalog"
  - name: DB_USER
    value: "postgres"
  - name: DB_PASSWORD
    value: "postgres"
