name: checkout
replicaCount: 1

image:
  repository: 630019796862.dkr.ecr.us-east-1.amazonaws.com/haddar-retail-store-checkout
  tag: "9b2bdf31d6526636c4ec3074168361610365cb3b"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "200m"

env:
  - name: ORDERS_ENDPOINT
    value: "http"
  - name: CARTS_ENDPOINT
    value: "http"
  - name: RABBITMQ_ENDPOINT
    value: "rabbitmq.retail-store.svc.cluster.local"
  - name: RABBITMQ_USERNAME
    value: "guest"
  - name: RABBITMQ_PASSWORD
    value: "guest"
